body {
  background-color: rgb(43, 43, 43);
  margin:0px;
  padding:0px;
}
.header {
  background-color: aqua;
  display:flex;
  height: 50px;
  align-items: center;
}
.container {
  flex: 1;
  background-color: blueviolet;
}
.container img {
  width: 120px;
  height: auto;
  
}
nav {
  flex:1;
  height: 100%;
  background-color: brown;
}
.dropdown {
  height: 100%;
}
nav button {
  position: absolute;
  background-color:blue;
  color:white;
  border-color:white;
}
nav ul {
  background-color:coral;
  text-align: center;
}
nav ul li {
  display: inline;
  list-style: none;
}
li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  nav {
    text-align:left;
  }
  .dropdown {
    padding: 15px;
  }
  nav button {
    position: relative;
  }
  nav ul {
    display:inline;
    position:absolute;
    opacity: 0;
    padding:10px;
  }
  nav ul li {
    display: block;
    padding: 5px;
    text-align: left;
  }
  nav button:focus + ul {
    opacity: 1;
  }
  nav ul:focus {
    opacity: 1;
  }
}