body {
  background-color:rgb(50,50,50);
  margin:0px;
  padding:0px;
}
.header {
  display:flex;
  padding: 10px;
}
.logo {
  width: 120px;
  height: 30px;
  align-self:center;
}
nav {
  flex:1;
  display: flex;
  width:100%;
  justify-content: space-evenly;
}
nav .dropdown button {
  position:absolute;
  align-self:center;
  opacity: 0;
  background-color: rgb(50,50,50);
  color:white;
  border:1px white solid;
  border-radius: 5px;
}
.dropdown-menu li {
  display:inline;
  list-style: none;
  margin:2px 1em 0em 0em;
}
.dropdown-menu {
  position:relative;
  
}
nav a {
  flex:1;
  align-self: center;
  text-decoration: none;
  color:white;
}

@media (max-width: 450px) {
  nav {
    flex: 1;
  }
  nav .dropdown button {
    flex: 1;
    position:relative;
    align-self:center;
    opacity: 1;
  }
  .dropdown-menu {
    position:absolute;
    right:15px;
    opacity: 1;
    background-color:rgb(122, 122, 122);
  }
  .dropdown-menu ul {
    padding: 10px;
  }
  .dropdown-menu li {
    text-align:left;
    display:block;
    margin: 5px;
  }
}